body {
  width: 100%;
  background-color: lightgreen;
  text-decoration: underline;;
  text-align: center;
  font-family: 'Times Old Roman', Arial, serif;
  font-size: 20px;
  font-weight: bold;
}
.bottomest {
  margin-top: 300vh;
}
p {  height: 100%;
  width: 100%;
  background-color: lightgreen;
  text-decoration: underline;;
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
  font-weight: bold;
  }
.small {
  font-size: 13px;
}
.picto {
  transition-duration: 2s;
}
.picto:hover {
  transform: rotate(360deg);
}
.picto:active {
  transform: rotate(3000000deg) scale(30);
}
